
$laptop_l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile_l: 425px;
$mobile_m: 375px;
$mobile_s: 320px;

$gray: #A1A7B5;
$border_blue: #0F62FE;
$blue:  #0C5BEF;
$dip_blue: #00133A;
$black: #222327;
$wight: #F0F6FE;
$base_wight: #FFFFFF;
$button_upload_more_color: #002DBF;
